.footer {
	width: 100%;
	margin-top: 18px;
	&__body {
		background: rgba(25, 25, 25, 0.8);
		border-radius: 3px;
		text-align: center;
		justify-content: center !important;
		padding: 12px 0 17px 0;
		.socials {
			a {
				margin: 0 4px;
			}
		}
	}
	&__share {
		margin-bottom: 14px;
	}
	&__copy {
		text-align: center;
		padding: 30px 0;
		a {
			font-size: 15px;
			line-height: 18px;
			color: #505050;
		}
	}
}
@media (max-width: 992px) {
	.footer {
		margin-top: 2rem;
		&__share {
			font-size: 15px;
			line-height: 18px;
		}
	}
}
@media (max-width: 768px) {
	.footer {
		margin-top: 4rem;
	}
}
@media (max-width: 375px) {
	.footer {
		margin-top: 2.5rem;
		&__body {
			background: none;
			border-radius: 0;
			padding: 0;
		}
		&__share {
			font-size: 14px;
			line-height: 17px;
		}
		&__copy {
			font-size: 13px;
			line-height: 16px;
		}
	}
}